// Variables
$grayshade1: #f1f3f5; 
$fontColorShade1: #345;

$violetshade: #745fb5;
$violetshade2: #8b70e0;
$violetshadeLight: #a287f1;
$violetshadeDark: #896fd8;

$ricostacruzSiteFont: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

html, body {
    background: $grayshade1;
    font-family: $ricostacruzSiteFont;
    font-size: 14px;
    line-height: 1.6;
    color: $fontColorShade1;
    overflow-x: hidden;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

.-app-width {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

//////////////////
//  Fancy Layout
//////////////////
.dg-main-docs {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .dg-box,
    .dg-side-nav {
        box-sizing: border-box;
    }

    .dg-box {
        background: #fff;
        box-shadow: 0 6px 8px rgba(85,102,119,.03), 0 1px 1px rgba(85,102,119,.4);
        border-radius: 3px;
        padding: 15px;
        font-size: 16px;
        margin-bottom: 30px;

        strong {
            font-weight: 600;
            color: $violetshade;
            display: inline-block;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 20px;
        }
        em {
            // background-color: #353535;
            // color: #e8912d;
            // padding: 2px 3px;
            // border-radius: 7px;
            // font-size: 14px;
            // margin: 0 5px;
            // border: 1px solid #0c0c0c;
            font-style: italic;
        }
        .highlight {
            color: $violetshadeDark;
        }
        .steps {
            margin-bottom: 20px;
            padding-left: 40px;
            > li {
                position: relative;
                &::before {
                    position: absolute;
                    content: '';
                    top: 40%;
                    left: -15px;
                    height: 8px;
                    width: 8px;
                    transform: translate(-60%);
                    background-color: $violetshadeLight;
                }
            }
            code {
                background-color: rgba($color: #000000, $alpha: 0.1);
                padding: 2px 5px;
                border-radius: 3px;
            }
        }
    }

    .dg-side-nav {
        max-width: 300px;
        width: 100%;
        font-size: 16px;
        padding: 15px 0;
        padding-right: 40px;
    }
    
    .dg-dynamic {
        overflow: hidden;
        width: 100%;
        padding: 15px 0;
    }
}
.dg-header {
    margin-bottom: 20px;
    > h1 {
        font-size: 40px;
        line-height: 45px;
        margin: 0;
        font-weight: 200;
    }
    .sub-headline {
        font-style: normal;
        color: #89a;
        font-weight: 200;
        margin-left: 10px;
        font-size: 35px;
        line-height: 40px;
    }
}
.sidenav-wrapper {
    ul {
        list-style: none;
        padding: 0;
        a {
            color: #745fb5;
            text-decoration: none;
            padding: 5px;
            display: inline-block;
            font-size: 19px;
            font-weight: 400;

            &:visited,
            &:active,
            &:focus {
                color: #745fb5;
                text-decoration: none;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .category {
        margin: 30px 0 10px;
        font-weight: 600;
    }
}

.screenshot-wrapper {
    display: flex;
    margin-bottom: 20px;
}
.thumbnail-placeholder {
    cursor: pointer;
    .outer-light {
        background-color: $violetshadeLight;
        background-image: url(../../images/checkered-pattern.png);
        height: 75px;
        width: 75px;
        border-radius: 8px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .inner-dark {
            // background-color: $violetshadeDark;
            height: 50px;
            width: 50px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            > span {
                text-align: center;
                font-size: 13px;
                line-height: 13px;
                font-weight: 400;
                color: white;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                @extend .noselect;
            }
        }
    }
    .sname {
        max-width: 120%;
        width: 120%;
        text-align: center;
        display: inline-block;
        overflow-wrap: break-word;
    }
}
.code-viewer {
    margin: 30px 0;
    font-size: 14px;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}
.disabled-text {
    color: gray;
}