.dg-main-docs {
    padding: 10px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
.dg-side-nav {
    border: 1px solid blue;
    max-width: 250px;
    width: 100%;
}
.dg-content {
    border: 1px solid green;
    max-width: overflow;
    width: 100%;
}